@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sen&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


:root {
  --primaryColor: #000;
  
  /*  
  --navColor1: #CBD1CE;
  --navColor2: #9AA9A2;
  --navColor3: #778E83;
  --navColor4: #597769;
  --navColor5: #3E6151;
  */

/* 
--navColor1: #a4acb9;
--navColor2: #97A4B8;
--navColor3: #697B98;
--navColor4: #465C7E;
--navColor5: #2E4466;
*/


  --navColor1: #FFFDE6;
  --navColor2: #FFFBD3;
  --navColor3: #FFF9C0; 
  --navColor4: #FFF8AD;
  --navColor5: #fff59c;
  
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f7f7;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

h1 {
  padding-bottom: 30px;
}

h2 {
  padding-bottom: .75rem;
}

p {
  text-align: center;    
  font-size: 1.25rem; 
  margin-left: 5px;
  margin-right: 5px;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #000 ;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

.heading {
   font-size: 2rem;
   text-align: center;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  color: var(--primaryColor);
  font-size: 1rem; 
}

section#home {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  align-items: flex-end;  
}

#email {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
   border-bottom: 1px solid var(--primaryColor); 
}
a#phone {
  text-decoration: none;
  color: var(--primaryColor);
}
h2#phone {
  padding-bottom: 0px;
}

section#about {
  background-color: var(--navColor2);
  flex-direction: column;
}
section#about h1 {
  text-decoration-line: underline;
}

section#services {
  background-color: var(--navColor3);
  
}

section#services .wrap {
  height:100%;
  width: 100%;
  background: linear-gradient(
    rgba(255, 249, 192, 0.7), 
    rgba(255, 249, 192, 0.7)), 
    url('chair2.png');
 
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 90; */
}

section#services .wrap .content {
  /* opacity: 2;
  z-index: 2; */
}

section#services h1 {
  text-decoration-line: underline;
}

section#projects {
  /* z-index:a 100; */
  background-color: var(--navColor4);  
  flex-direction: column;
}



.roll {   
  /* width: 85%;
  height: 75%; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}

.roll img {
max-width: 350px; 
margin: 10px;
border-radius: 0.5rem;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.social {
  height: 25%;
}

.fa-brands {
  font-size: 75px;
  margin: 50px;
  cursor: pointer;
  color: #000;
}

.fa-regular, .fa-solid {
  font-size: 50px;
  margin: 10px;
  cursor: pointer;
  color: #000;

}

.fa-brands:hover, .fa-regular:hover, .fa-solid:hover {
  color: rgba(66,66,66,0.7);
}

section#contact {
  background-color: var(--navColor5);
  /* height: 750px; */
  flex-direction: column;
  justify-content: space-around;
  

}

section#contact a{
  text-decoration: none;
  color: var(--primaryColor);

}

section#contact a:hover {
  color: rgba(66,66,66,0.7);

}

.Ccontainer{
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

textarea {
  width: 100%;
  height: 68px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
  resize: none;

}


.container{
  width: 350px;
  height: 450px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 25px 8px rgba(0, 0, 0, 0.4);
  
}

.message-container{
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}

.contactheader {
  text-align: center;
}


form{
  width: 90%;
}

.form-group{
  height:65px;
}

.form-group-radio{
 
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.form-group-radio input {
   height:auto;
   width: auto;
}




label{
  position: relative;
  bottom: 3px;
}


button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: Sen, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background: rgb(22,22,22);
}

button:focus{
  outline: none;
}


@media (max-height: 825px) {

  img#brush {
    display: none;
    }

}

@media (max-width: 1100px) {
  .roll {   
    /* width: 85%;
    height: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
  }

  .roll img {
  max-width: 200px; 
  margin: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  }

}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  
  section#home{
    background-size: 100%;

  }
  
  section#home a {
    top: 1rem;
    left: 1rem;   
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  section#services .wrap {
    background-image: none;

  }

  
  .roll {   
    /* width: 85%;
    height: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
  }

  .roll img {
  max-width: 200px; 
  margin: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  }

}
